EVE_USERNAME=admin
EVE_PASSWORD=
EVE_SSH_USERNAME=root
EVE_SSH_PASSWORD=
EVE_DHCP_DNS=8.8.8.8,1.1.1.1
CISCO_USERNAME=admin
CISCO_PASSWORD=
CISCO_ENABLE_SECRET=
PALO_USERNAME=admin
PALO_PASSWORD=
PANORAMA_MANAGEMENT_IP=172.16.1.50
PANORAMA_NETMASK=255.255.255.0
PANORAMA_GATEWAY=172.16.1.1
PANORAMA_DNS=1.1.1.1
